<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- ====================   Consumer   ==================== -->
    <!-- AbstractDbConsumer -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.db.AbstractDbConsumer"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <map>
                <entry value-ref="dataSourceMYERP">
                    <key>
                        <value type="com.dummy.myerp.consumer.db.DataSourcesEnum">MYERP</value>
                    </key>
                </entry>
            </map>
        </property>
    </bean>


    <!-- ==================== Consumer-Proxy ==================== -->

    <!-- ConsumerHelper -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.ConsumerHelper"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <list>
                <ref bean="DaoProxy"/>
            </list>
        </property>
    </bean>

	<!-- DaoProxy -->
    <bean id="DaoProxy" class="com.dummy.myerp.consumer.dao.impl.DaoProxyImpl" factory-method="getInstance">
        <property name="comptabiliteDao" ref="comptabiliteDao"/>
    </bean>

    
    
    <!-- ComptabiliteDao-->
    <bean id="comptabiliteDao" class="com.dummy.myerp.consumer.dao.impl.db.dao.ComptabiliteDaoImpl" scope ="prototype" factory-method="getInstance">
    	<property name="dataSourceMYERP" ref="dataSourceMYERP"/>
    </bean>

	<!-- ==================== Databases ==================== -->

	
	
    <!-- bean id="dataSourceMYERP" class="com.dummy.myerp.technical.util.spring.NullFactoryBean">
        <constructor-arg value="javax.sql.DataSource"/>
    </bean-->
	
	<!-- Parametrer le dataSource : The best way is to use spring PropertyPlaceholderConfigurer-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="locations">
	        <list>
	            <value>classpath:application.properties</value>
	        </list>
	    </property>
	</bean>
	
	<bean id="dataSourceMYERP"
        class="">
        <property name="driverClassName" value="spring.datasource.driver-class-name" />
        <property name="url" value="spring.datasource.url" />
        <property name="username" value="spring.datasource.username" />
        <property name="password" value="spring.datasource.password" />
        <property name="socketTimeout" value="10"/>

        <property name="connectionProperties">
            <props>
                <prop key="socketTimeout">10</prop>
            </props>
        </property>
       
   </bean>
	
	

	<!-- bean id="dataSourceMYERP" class="com.dummy.myerp.technical.util.spring.NullFactoryBean">
        <constructor-arg value="javax.sql.DataSource" />
        <property name="url">
        <value>${spring.datasource.url}</value>
    	</property>
    	<property name="username">
        <value>${spring.datasource.username}</value>
    	</property>
    	<property name="password">
        <value>${spring.datasource.password}</value>
    	</property>
    	<property name="driver">
        <value>${spring.datasource.driver-class-name}</value>
    	</property>
    </bean-->

    
    <!-- bean id="dataSourceMYERP" class="com.dummy.myerp.consumer.dao.impl.db.dao.ComptabiliteDaoImpl">
    	<property name="dataSourceMYERP" ref="DataSourceMYERP"/>
        <constructor-arg value="javax.sql.DataSource"/>
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" scope="singleton">
	 <property name="dataSourceMYERP" ref="DataSourceMYERP"/>
	 <constructor-arg ref="javax.sql.DataSource"></constructor-arg> 
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg type="javax.sql.DataSource" ref="dataSourceMYERP"/>
    </bean>
    
    <bean id="jdbcTemplate" class="com.dummy.myerp.technical.util.spring.NullFactoryBean">
        <constructor-arg type="javax.sql.DataSource" ref="dataSourceMYERP"/>
    </bean-->
    
    


    <!-- ========== SQL ========== -->
    <import resource="sqlContext.xml"></import>
</beans>
